* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #dfdfdf;
  text-align: center;
  padding: 50px 100px 15px 100px;
  line-height: 1.5;
}

p {
  margin: 7px;
}

input {
  width: 60px;
  padding: 5px;
}

div {
  width: 40%;
  margin: 10px auto;
  padding: 40px 20px;
  border-radius: 18px;
  border: 2px solid black;
}

#checkdiv {
  height: 80px;
}
